In [3]:
library(dplyr)
library(rio)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [4]:
df <- rio::import('charts.csv')
df[c(1:5), ]

  date       rank song          artist                        last-week
1 2021-11-06 1    Easy On Me    Adele                         1
2 2021-11-06 2    Stay          The Kid LAROI & Justin Bieber 2
3 2021-11-06 3    Industry Baby Lil Nas X & Jack Harlow       3
4 2021-11-06 4    Fancy Like    Walker Hayes                  4
5 2021-11-06 5    Bad Habits    Ed Sheeran                    5
  peak-rank weeks-on-board
1 1          3
2 1         16
3 1         14
4 3         19
5 2         18

In [5]:
dim(df)

[1] 330087      7

In [6]:
# Select

(df %>% dplyr::select(date:artist, week_popular = 'weeks-on-board'))[c(1:3), ]
(df %>% dplyr::select(-'last-week', -'peak-rank', week_popular = 'weeks-on-board'))[c(1:3), ]

  date       rank song          artist                        week_popular
1 2021-11-06 1    Easy On Me    Adele                          3
2 2021-11-06 2    Stay          The Kid LAROI & Justin Bieber 16
3 2021-11-06 3    Industry Baby Lil Nas X & Jack Harlow       14

  date       rank song          artist                        week_popular
1 2021-11-06 1    Easy On Me    Adele                          3
2 2021-11-06 2    Stay          The Kid LAROI & Justin Bieber 16
3 2021-11-06 3    Industry Baby Lil Nas X & Jack Harlow       14

In [7]:
# Mutate

(df %>% 
    dplyr::select(-'last-week', -'peak-rank', week_popular = 'weeks-on-board') %>%
    dplyr::mutate(is_collab = grepl('Featuring', artist)) %>%
    dplyr::select(artist, is_collab, everything()))[c(1:10), ]

   artist                              is_collab date       rank song
1  Adele                               FALSE     2021-11-06  1   Easy On Me
2  The Kid LAROI & Justin Bieber       FALSE     2021-11-06  2   Stay
3  Lil Nas X & Jack Harlow             FALSE     2021-11-06  3   Industry Baby
4  Walker Hayes                        FALSE     2021-11-06  4   Fancy Like
5  Ed Sheeran                          FALSE     2021-11-06  5   Bad Habits
6  Drake Featuring Future & Young Thug  TRUE     2021-11-06  6   Way 2 Sexy
7  Ed Sheeran                          FALSE     2021-11-06  7   Shivers
8  Olivia Rodrigo                      FALSE     2021-11-06  8   Good 4 U
9  Doja Cat                            FALSE     2021-11-06  9   Need To Know
10 Dua Lipa                            FALSE     2021-11-06 10   Levitating
   week_popular
1   3
2  16
3  14
4  19
5  18
6   8
7   7
8  24
9  20
10 56

In [8]:
# Filter

df %>% 
    dplyr::select(-'last-week', -'peak-rank', week_popular = 'weeks-on-board') %>%
    dplyr::filter(week_popular >= 20, artist == 'Drake' | artist == 'Taylor Swift') %>% 
    .[c(1:3), ]

  date       rank song         artist       week_popular
1 2021-05-08 61   Willow       Taylor Swift 20
2 2020-08-29 72   Toosie Slide Drake        20
3 2020-01-25 50   Lover        Taylor Swift 22

In [9]:
# Distinct

df %>% 
    dplyr::select(-'last-week', -'peak-rank', week_popular = 'weeks-on-board') %>%
    dplyr::filter(week_popular >= 20, artist == 'Drake') %>%
    dplyr::distinct(song) %>% 
    .$song

 [1] "Toosie Slide"            "In My Feelings"
 [3] "Nonstop"                 "Nice For What"
 [5] "God's Plan"              "Passionfruit"
 [7] "Fake Love"               "Controlla"
 [9] "Hotline Bling"           "Back To Back"
[11] "Know Yourself"           "Energy"
[13] "0 To 100 / The Catch Up" "The Language"
[15] "Started From The Bottom" "Headlines"
[17] "Find Your Love"          "Over"
[19] "Best I Ever Had"

In [10]:
df %>% 
    dplyr::select(-'last-week', -'peak-rank', week_popular = 'weeks-on-board') %>%
    dplyr::filter(week_popular >= 20, artist == 'Drake') %>%
    dplyr::group_by(song) %>%
    dplyr::summarise(total_weeks_popular = max(week_popular))

   song                    total_weeks_popular
1  0 To 100 / The Catch Up 20
2  Back To Back            20
3  Best I Ever Had         24
4  Controlla               26
5  Energy                  20
6  Fake Love               25
7  Find Your Love          21
8  God's Plan              36
9  Headlines               25
10 Hotline Bling           36
11 In My Feelings          22
12 Know Yourself           20
13 Nice For What           25
14 Nonstop                 22
15 Over                    20
16 Passionfruit            20
17 Started From The Bottom 22
18 The Language            20
19 Toosie Slide            20

In [11]:
df %>% 
    dplyr::select(-'last-week', -'peak-rank', week_popular = 'weeks-on-board') %>%
    dplyr::filter(week_popular >= 20, artist == 'Drake') %>%
    dplyr::group_by(song) %>%
    dplyr::summarise(total_weeks_popular = max(week_popular)) %>%
    dplyr::arrange(desc(total_weeks_popular), song) %>%
    head(10)

   song                    total_weeks_popular
1  God's Plan              36
2  Hotline Bling           36
3  Controlla               26
4  Fake Love               25
5  Headlines               25
6  Nice For What           25
7  Best I Ever Had         24
8  In My Feelings          22
9  Nonstop                 22
10 Started From The Bottom 22

In [12]:
df %>% 
    dplyr::select(-'last-week', -'peak-rank', week_popular = 'weeks-on-board') %>%
    count(artist) %>%
    arrange(desc(n)) %>%
    .[c(1:10), ]

   artist        n
1  Taylor Swift  1023
2  Elton John     889
3  Madonna        857
4  Drake          787
5  Kenny Chesney  769
6  Tim McGraw     731
7  Keith Urban    673
8  Stevie Wonder  659
9  Rod Stewart    657
10 Mariah Carey   621

In [52]:
df %>%
    rename(peak_rank = 'peak-rank', last_week = 'last-week') %>%
    filter(peak_rank %in% c(1, 2, 3)) %>%
    mutate(popular = peak_rank > 2, popular = if_else(popular == TRUE, 'yes', 'no')) %>%
    mutate(peak_rank = recode(peak_rank, 'low', 'mid', 'high')) %>%
    filter(between(last_week, 1, 9)) %>%
    na.omit() %>%
    .[c(1:10), ]

   date       rank song          artist                              last_week
1  2021-11-06  1   Easy On Me    Adele                               1
2  2021-11-06  2   Stay          The Kid LAROI & Justin Bieber       2
3  2021-11-06  3   Industry Baby Lil Nas X & Jack Harlow             3
4  2021-11-06  4   Fancy Like    Walker Hayes                        4
5  2021-11-06  5   Bad Habits    Ed Sheeran                          5
6  2021-11-06  6   Way 2 Sexy    Drake Featuring Future & Young Thug 6
7  2021-11-06  8   Good 4 U      Olivia Rodrigo                      7
8  2021-11-06 10   Levitating    Dua Lipa                            8
9  2021-10-30  2   Stay          The Kid LAROI & Justin Bieber       2
10 2021-10-30  3   Industry Baby Lil Nas X & Jack Harlow             1
   peak_rank weeks-on-board popular
1  low        3             no
2  low       16             no
3  low       14             no
4  high      19             yes
5  mid       18             no
6  low        8             no
7  low       24             no
8  mid       56             no
9  low       15             no
10 low       13             no