In [34]:
library(dplyr)
library(rio)

In [13]:
df <- rio::import('CourseFiles/ImportingData_Datasets/mbb.csv')
df[c(1:5), ]

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13

In [95]:
df2 <- df %>% 
dplyr::filter(Mozart == 9) %>%
dplyr::arrange(Beethoven, -Bach) %>%
dplyr::mutate(good = Bach > 10, Month = NULL) %>%
#dplyr::transmute(bad = Beethoven < 5 | Bach < 11) %>%
dplyr::select(-Mozart)
df2[c(1:3), ]

df3 <- df2 %>%
dplyr::count(Beethoven, sort = T)
df3

  Beethoven Bach good
1 4          9   FALSE
2 5         11    TRUE
3 5         10   FALSE

  Beethoven n
1 6         3
2 7         3
3 5         2
4 4         1