In [3]:
# Assigns number 0 through 10 to x1

x1 <- 1:10
x1

 [1]  1  2  3  4  5  6  7  8  9 10

In [5]:
# Descending order

x2 <- 10:0
x2

 [1] 10  9  8  7  6  5  4  3  2  1  0

In [8]:
# Ascending values (duplicates 1:10)

x3 <- seq(10)
x3

 [1]  1  2  3  4  5  6  7  8  9 10

In [11]:
# Specify change in values

x4 <- seq(30, 0, by = -3)
x4

 [1] 30 27 24 21 18 15 12  9  6  3  0

In [14]:
# Repeat values

x5 <- rep(TRUE, 5)
x5

[1] TRUE TRUE TRUE TRUE TRUE

In [16]:
# Repeat set

x6 <- rep(c(TRUE, FALSE), 5)
x6

 [1]  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE

In [18]:
x7 <- rep(c(TRUE, FALSE), each = 5)
x7

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE