In [33]:
library(rio)
library(dplyr)
library(ggplot2)

In [34]:
df <- rio::import('CourseFiles/ImportingData_Datasets/mbb.csv')
head(df)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [58]:
df_mut <- df %>% 
dplyr::mutate(good = Mozart > 9)

In [62]:
options(repr.plot.width = 15)

ggplot(data = df_mut) +
    geom_point(mapping = aes(x = Mozart, y = Beethoven), color = good)

ERROR: Error in list2(na.rm = na.rm, ...): object 'good' not found

In [60]:
df_mut

    Month   Mozart Beethoven Bach good
1   2004-01  12    8         15    TRUE
2   2004-02  12    9         15    TRUE
3   2004-03  12    9         14    TRUE
4   2004-04  12    8         14    TRUE
5   2004-05  11    9         13    TRUE
6   2004-06   9    7         12   FALSE
7   2004-07   7    5         11   FALSE
8   2004-08   7    6         11   FALSE
9   2004-09   9    7         12   FALSE
10  2004-10  11    8         13    TRUE
11  2004-11  11    8         14    TRUE
12  2004-12  10    8         13    TRUE
13  2005-01  11    8         13    TRUE
14  2005-02  11    8         16    TRUE
15  2005-03  10    8         13    TRUE
16  2005-04  11    8         13    TRUE
17  2005-05  11    8         12    TRUE
18  2005-06   9    7         12   FALSE
19  2005-07   7    5         11   FALSE
20  2005-08   7    5         12   FALSE
21  2005-09   9    6         11   FALSE
22  2005-10  10    7         12    TRUE
23  2005-11  11    7         12    TRUE
24  2005-12  11    7         12    TRUE
25  2006-01 100    7         13    TRUE
26  2006-02  25    7         12    TRUE
27  2006-03  19    7         14    TRUE
28  2006-04  14    6         12    TRUE
29  2006-05  15    7         12    TRUE
30  2006-06  11    5         11    TRUE
⋮   ⋮       ⋮      ⋮         ⋮    ⋮
123 2014-03 6       4        10   FALSE
124 2014-04 6       4        10   FALSE
125 2014-05 6       5         9   FALSE
126 2014-06 5       4         9   FALSE
127 2014-07 5       3         9   FALSE
128 2014-08 5       4         9   FALSE
129 2014-09 5       4         9   FALSE
130 2014-10 6       4         9   FALSE
131 2014-11 6       5         9   FALSE
132 2014-12 6       4         9   FALSE
133 2015-01 7       4        10   FALSE
134 2015-02 6       4        10   FALSE
135 2015-03 6       4        10   FALSE
136 2015-04 6       4        10   FALSE
137 2015-05 6       4        10   FALSE
138 2015-06 5       4         9   FALSE
139 2015-07 4       3         9   FALSE
140 2015-08 5       3        10   FALSE
141 2015-09 5       4         9   FALSE
142 2015-10 5       4         9   FALSE
143 2015-11 5       4         9   FALSE
144 2015-12 6      10         9   FALSE
145 2016-01 9       4         9   FALSE
146 2016-02 6       4         8   FALSE
147 2016-03 6       4        10   FALSE
148 2016-04 5       4        10   FALSE
149 2016-05 5       4         9   FALSE
150 2016-06 5       3         8   FALSE
151 2016-07 4       3         9   FALSE
152         4       3         9   FALSE