In [79]:
library(datasets)
library(psych)

In [172]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [175]:
# Create Data

(x1 <- 1:3)
(y <- 1:9)

[1] 1 2 3

[1] 1 2 3 4 5 6 7 8 9

In [186]:
# Combine variables

(df1 <- cbind.data.frame(x1, y))
typeof(df1)
is.data.frame(df1)
str(df1)

  x1 y
1 1  1
2 2  2
3 3  3
4 1  4
5 2  5
6 3  6
7 1  7
8 2  8
9 3  9

[1] "list"

[1] TRUE

'data.frame':	9 obs. of  2 variables:
 $ x1: int  1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [195]:
# As.Factor

print(x2 <- as.factor(c(1:3)))
print(df2 <- cbind.data.frame(x2))
typeof(df2$x2)
str(df2)

[1] 1 2 3
Levels: 1 2 3
  x2
1  1
2  2
3  3

[1] "integer"

'data.frame':	3 obs. of  1 variable:
 $ x2: Factor w/ 3 levels "1","2","3": 1 2 3

In [252]:
# Define existing variable as factor

x3 <- c(1:3)
df3 <- cbind.data.frame(x3, y)
df3$x3 <- factor(df3$x3, levels= c(1, 2, 3))
df3
typeof(df3$x3)
str(df3)

  x3 y
1 1  1
2 2  2
3 3  3
4 1  4
5 2  5
6 3  6
7 1  7
8 2  8
9 3  9

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x3: Factor w/ 3 levels "1","2","3": 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [251]:
# Labels for factor

x4 <- c(1:3)
df4 <- cbind.data.frame(x4, y)
df4$x4 <- factor(df4$x4, levels = c(1, 2, 3), labels = c('macOS', 'Windows', 'Linux'))
df4
typeof(df4$x4)
str(df4)

  x4      y
1 macOS   1
2 Windows 2
3 Linux   3
4 macOS   4
5 Windows 5
6 Linux   6
7 macOS   7
8 Windows 8
9 Linux   9

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x4: Factor w/ 3 levels "macOS","Windows",..: 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [223]:
df4[df4$x4 == 'macOS', ]

  x4    y
1 macOS 1
4 macOS 4
7 macOS 7

In [241]:
t1 <- c('a', 'b', 'c')
df_t <- cbind.data.frame(t1, y)
df_t$t1 <- factor(df_t$t1, levels = c('a', 'b', 'c'), labels = c('a_val', 'b_val', 'c_val'))
df_t
str(df_t)

  t1    y
1 a_val 1
2 b_val 2
3 c_val 3
4 a_val 4
5 b_val 5
6 c_val 6
7 a_val 7
8 b_val 8
9 c_val 9

'data.frame':	9 obs. of  2 variables:
 $ t1: Factor w/ 3 levels "a_val","b_val",..: 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [250]:
x5 <- c(1:3)
df5 <- cbind.data.frame(x5, y)
df5$x5 <- ordered(df5$x5, levels = c(3, 1, 2), labels = c('No', 'Maybe', 'Yes'))
df5
typeof(df5$x5)
str(df5)

  x5    y
1 Maybe 1
2 Yes   2
3 No    3
4 Maybe 4
5 Yes   5
6 No    6
7 Maybe 7
8 Yes   8
9 No    9

[1] "list"

'data.frame':	9 obs. of  2 variables:
 $ x5: Ord.factor w/ 3 levels "No"<"Maybe"<"Yes": 2 3 1 2 3 1 2 3 1
 $ y : int  1 2 3 4 5 6 7 8 9